# Enviroment files
.vscode/*
**/__pycache__/*
*req*

# Datasets / Banchmarks
**/Dataset/*

# Logs / Test output / Temp files
**/test_log/*
**/output/*
**/temp/*
Goals.*

# Abandoned side features
old_code/*

# Model / Database
InstallOllama/*
LocalVB/*
LocalLLM/*
LocalLLMModels/*
**/prebuild_VDB/*