# Enviroment files
.vscode/*
**/__pycache__/*

# Datasets / Banchmarks
**/Dataset/*

# Logs / Test output / Temp files
**/test_log/*
**/output/*
**/temp/*

# Abandoned side features
old_code/*

# Model / Database
InstallOllama/*
LocalVB/*
LocalLLM/*
LocalLLMModels/*