# Enviroment files
.vscode/*
.deepeval/*
**/__pycache__/*
**/cache/*

# Build files
PreBuild/*
**.spec*
dist/*
build/*
generate_requirement.bat

# Datasets / Banchmarks
**/Dataset/logs/*
EvaluationData/*
EvaluationResult/*

# Logs / Test output / Temp files
**/log/*
**/test_log/*
**/output/*

# Abandoned code, prompt template
Abandoned/*

# Model / Database
InstallOllama/*
LocalVB/*
LocalLLM/*
LocalLLMModels/*